<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='lupa.svg') }}">
</head>

<html>

<head>
  <title>Main</title>
</head>

<body>
  <div class="container">

    <div class="Top">
      <div class="Title" id="parent">
        <h1 id="child_left" style="color: #ffffff;">Forencics Challenge 2023 Team6</h1>
      </div>
      <div class="Divs">
        <div class="DMain nowat">
          <a href="{{ url_for('main_page') }}">Main</a>
        </div>
        <div class="DModel">
          <a href="{{ url_for('model_page') }}">Model</a>
        </div>
        <div class="DPres">
          <a href="{{ url_for('pres_page') }}">Pres</a>
        </div>
        <div class="DInfo">
          <a href="{{ url_for('info_page') }}">Info</a>
        </div>
      </div>
    </div>

    <div class="Gap"></div>

    <div style="padding:10px">
      <div class="Bottom">
        <div style="padding-left: 5%; padding-right: 5%; font-size: 18px;">
          <h1>Our file downloads should be here!</h1>
          <ul>
            {% for file in files %}
            <li> <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div style="padding:10px;"></div>
      </div>
    </div>

  </div>
</body>

</html>