<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='lupa.svg') }}">
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
</head>

<html>

<head>
  <title>Main</title>
</head>

<body>
  <div class="container">

    <div class="Top">
      <div class="Title" id="parent">
        <h1 id="child_left" style="color: #ffffff;">Forencics Challenge 2023 Team6</h1>
      </div>
      <div class="Divs">
        <div class="DMain ">
          <a href="{{ url_for('main_page') }}">Main</a>
        </div>
        <div class="DModel nowat">
          <a href="{{ url_for('model_page') }}">Model</a>
        </div>
        <div class="DPres">
          <a href="{{ url_for('pres_page') }}">Pres</a>
        </div>
        <div class="DInfo">
          <a href="{{ url_for('info_page') }}">Info</a>
        </div>
      </div>
    </div>

    <div class="Gap"></div>

    <div style="padding:10px">
      <div class="Bottom">
        <div style="padding-left: 5%; padding-right: 5%; font-size: 18px;">
          <h1>Here you should see a 3d model!</h1>
          <model-viewer
            alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum"
            src="{{ url_for('static', filename='model.glb') }}" shadow-intensity="1" camera-controls
            touch-action="pan-y"></model-viewer>
        </div>
        <div style="padding:10px;"></div>
      </div>
    </div>

  </div>
</body>

</html>